certifi==2022.5.18.1
charset-normalizer==2.0.12
Deprecated==1.2.13
gql==3.3.0
graphql-core==3.2.1
idna==3.3
multidict==6.0.2
requests==2.27.1
requests-toolbelt==0.9.1
urllib3==1.26.9
wrapt==1.14.1
yarl==1.7.2
qcloud-requests-auth==0.0.1
